[2021-12-21 16:38] kcullion opened #862 "File Entity: Add legend and private access tag"
## Goal
Finish off the header of the file entity page.

## Logged in or logged out
- [ ] Add the legend component to the page: https://github.com/icgc-argo/uikit/issues/25
![image](https://user-images.githubusercontent.com/18424138/146836537-dff77632-97da-479e-9767-090a564a9263.png)

## When logged in, as a program member/dcc admin

- [ ] add a tag to the file entity page, when the file has privat

[2021-12-21 16:57] kcullion commented on #475
de-prioritized in Dan's queue and we can discuss in the new year about the process of allowing dcc admin access in prod

[2021-12-21 17:03] demariadaniel commented on #475
@samrichca found errors were related to failed calls to https://extsd.oicr.on.ca/rest/servicedeskapi

@atulkachru reached out to IT service desk as we do not know who manages this endpoint.

They suggested "At first glace, if you are simply getting that error hitting that page, I would think the "token" might have expired, and you might have to re-generate a one."

My OICR & personal email account

[2022-01-07 14:36] b-f-chan commented on #849
Added #731 since #167 is blocked/dependent on it

[2022-01-07 15:35] akachru-github opened #863 "Upgrade stateful applications for ARGO"
- [ ] Kafka
- [ ] Elasticsearch
- [ ] Postgress
- [ ] Mongo
- [ ] MySQL
... more

[2022-01-13 14:58] akachru-github commented on #709
This dupes another design ticket with a wiki:
https://app.zenhub.com/workspaces/icgc-argo-platform-dk-production-board-5e542d38415f5034e9fed89d/issues/icgc-argo/files-service/56

Closing.

[2022-01-13 14:58] #709 closed

[2022-01-13 15:58] akachru-github commented on #860
Dependency on reading the clinical data. This needs to be done, but will be done when the data is available.

[2022-01-13 16:37] #858 closed

[2022-01-13 17:06] akachru-github opened #864 "Donor centric index design"
- Do we restructure what we hav now as file-service to handle this, or is this a new thing altogether?

[2022-01-13 17:08] akachru-github opened #865 "Design: How to handle files that are currently published that do not meet clinical requirements?"
- We should have some kind of property that allows us to ignore the clinical requirement. ICGC25k data exists in this state.
- Donor entity page won't have any info for files that fall into this category.
- Almost all the files that exist now will need this property / flag
  - Maybe need a "reason" as well.
- Will need to have a conversation with stakeholders on go forward plan.

Wiki will be gene

[2022-01-24 15:05] Buwujiu commented on #857
There are two problems that caused the issues on donor dashboard:
1. for all programs that are missing data in the `Molecular Summary Data` chart, the root cause is that `first_published_at` ES field is `null` in analysis centric indices. The fix for this is this pr: https://github.com/overture-stack/maestro/issues/222.
2. program `TCRB-CA` workflow data doesn't match the actual runs is caused by

[2022-01-25 19:33] samrichca commented on #852
scope change: use new login, refresh, and logout functions from app.tsx if these haven't been implemented yet.

[2022-01-25 21:22] akachru-github opened #866 "Design: Clinical API"
With multiple services reaching out to the Clinical DB for data, it was determined that standardizing access will make maintenance of changes in the future easier. This ticket can be closed once a wiki for the design of the Clinical API is generated.

Services that reach out to Clinical DB directly now:
- donor agg
- file manager (eventually)
- platform-api (eventually)

Suggestions:
- batch donor

[2022-01-26 16:08] kcullion opened #867 "RNA-Seq: BA requirements, specs, implementation plan"
## Goal

To spec out the addition of the RNA-seq raw reads and workflows into the platform UI (program dashboard).

After our meeting about the molecular chart/table for DNA workflows (program dashboard), I think it's best that we get some requirements decided on before starting the implementation.

## Current State

- The RNA additions have been worked into the design, but may need some updates i

[2022-01-26 17:48] joneubank commented on #864
https://wiki.oicr.on.ca/display/icgcargotech/Implementing+Donor+Centric+Data

[2022-01-26 17:51] joneubank commented on #864
Wiki linked in previous comment details a plan to restructure the file manager into a combined Data Indexer, including some major refactor and modification to our system. Notably, this should include combining the Donor Submission Aggregator into the same service.

As a lower effort approach, we could just continue with our system as is and add the new funcitonality into the file manager, but long

[2022-01-26 19:56] kcullion opened #868 "RNA-Seq: getting data into the Platform"

[2022-01-26 22:41] joneubank commented on #865
https://wiki.oicr.on.ca/display/icgcargotech/File+Indexing+and+Clinical+Completeness

[2022-01-27 15:20] #864 closed

[2022-01-27 15:20] #865 closed

[2022-01-27 15:31] akachru-github commented on #857
- Fixed Maestro and Workflow Relay are both deployed to QA. This is testable in QA.
- Investigate finding missing alignment for TCRB-CA

[2022-01-27 15:41] akachru-github opened #869 "Implementation: Clinical API"

[2022-01-27 16:28] akachru-github opened #870 "Investigate the redirect URLs"
- What is happening with URL prameters. Logging in results in the user being taken to either the home page or the "logged in" page.

[2022-01-27 20:28] akachru-github opened #871 "Upgrade ARGO to Ego 5.1.0"

[2022-01-27 20:28] akachru-github opened #872 "Upgrade ARGO to Ego 5.3.0"
Change

[2022-01-31 20:10] kcullion commented on #857
@Buwujiu @lindaxiang there aren't many dashboards to test the molecular data on in QA. Perhaps you can help test by doing a brand new submission (maybe a bulk set), and run it through all the workflows to test the table and chart?

@Buwujiu I did notice one strange thing on PACA-CA - I see there are two donors with Open Access VF - but they don't have any tumour/normal submitted (or any other data

[2022-01-31 20:30] Buwujiu commented on #857
@kcullion TEST-PR and PACA-CA are not ready for test yet, because of song performance issue, we need to update maestro to use new song endpoint to be able to index TEST-PR and PACA-CA. Right now they are still showing old data. TCRB-CA needs investigation too, I will talk with Linda tomorrow.

[2022-01-31 20:31] kcullion commented on #857
thanks @Buwujiu ... I moved this ticket back to "in progress" then, since it's not quite ready to test.

[2022-01-31 20:53] Buwujiu commented on #849
Version 3.11.0 also includes this ticket: https://github.com/overture-stack/maestro/issues/222

[2022-02-01 17:35] Buwujiu opened #873 "Bug: QA TCRB-CA donor dashboard raw reads does not match actual seq exp"
TCRB-CA in qa is missing 1 DNA seq exp count on the donor dashboard. When querying seq exp for donor DO262483, rdpc api returns 3 DNA samples and 1 RNA sample, but there should be 1 more DNA sample.

Investigate why donor is missing 1 DNA sample.
Query used for getting samples:
[code]

[code]

[2022-02-01 17:43] Buwujiu opened #874 "Increase Timeout in RDPC dev/qa Maestro to allow indexing"
## The issue
RDPC Maestro currently is unable to index large studies such as PACA-CA and TEST-PR due to the timeout issue. This is causing platform donor dashboard reporting outdated data.

## Solution
The proper fix would be updating Maestro to use the paginated song get analysis endpoint, this endpoint has upgraded performance which will solve the timeout issue.

As a temporary solution, increas

[2022-02-01 17:44] Buwujiu commented on #857
@akachru-github @kcullion I made two tickets for tracking remaining issues listed in this ticket:
https://github.com/icgc-argo/roadmap/issues/874
https://github.com/icgc-argo/roadmap/issues/873

[2022-02-01 22:01] kcullion commented on #857
thanks @Buwujiu ...as discussed on slack, we'll leave this ticket open for re-testing the bugs found before

[2022-02-07 16:29] kcullion opened #875 "🐛 TEST-QA raw reads and alignment should both plot 4 donors on the chart"
## Describe the bug
On QA there are 4 donors that have matched T/N pairs and those same donors have at least one completed alignment runs. But the chart looks like there are a different amount of donors for those two plots.
![image](https://user-images.githubusercontent.com/18424138/152829842-7344154c-82bd-4713-9547-7cfc0de4b0f4.png)

## Steps To Reproduce

Steps to reproduce the behaviour:
1. Go

[2022-02-07 16:33] kcullion commented on #857
discussed on slack...
[code]
Made this bug ticket for TEST-QA inconsistency https://github.com/icgc-argo/roadmap/issues/875

[2022-02-07 19:48] Buwujiu commented on #873
Tested in QA TCRB-CA, working as expected, moving to awaiting release.

[2022-02-08 16:07] akachru-github opened #876 "Program Dashbaord errors in Staging for the Huntress Release"
- Errors do not appear in QA, just in STAGING.
- Currently blocking the Huntress release
![image (24).png](https://images.zenhubusercontent.com/5d55b1b74d335f147c3e6dc0/29c40360-1ecb-4002-bdd7-39ab346f4fb6)

[2022-02-08 20:59] #876 closed

[2022-02-08 21:00] kcullion commented on #876
this was fixed by clicking some buttons :)

[2022-02-09 22:32] akachru-github commented on #874
@Buwujiu I think this change was made in RDPC prod right? We can close this.

[2022-02-09 22:32] #874 closed

[2022-02-09 22:32] akachru-github commented on #857
@kcullion , can this be closed given the Huntress and the Eiger release is now in production?

[2022-02-09 22:40] akachru-github commented on #849
I think this will need to be changed to v3.12.0 now that this is deployed into prod on the RDPC side of things.

[2022-02-09 22:41] akachru-github commented on #867
Let's keep this ticket open as there are a few more things to discuss around the spec before we have a complete picture of the impact of including the RNA workflow.

[2022-02-09 22:42] akachru-github commented on #873
I believe Maestro 3.12.0 release on the RDPC fiixed this issue, correct? Can this be closed?

[2022-02-10 15:26] kcullion commented on #857
@akachru-github yes I think we can close this!

[2022-02-10 15:26] #857 closed

[2022-02-10 15:27] akachru-github commented on #846
@b-f-chan has tested completed? can we promote this to the next stage?

[2022-02-10 15:29] b-f-chan commented on #846
Yes, ARGO QA looks good to me, didn't find any issues

[2022-02-10 15:59] akachru-github opened #877 "Upgrade RDPC Song to 4.8.1"
- confirm all cancogen fixes, base schema change i to support RNA, performance changes are all included.

[2022-02-10 15:59] akachru-github opened #878 "Upgrade RDPC Song to 4.8.1"
- confirm all cancogen fixes, base schema change i to support RNA, performance changes are all included.

[2022-02-10 15:59] akachru-github opened #879 "Upgrade RDPC Song to 4.8.1"
- confirm all cancogen fixes, base schema change i to support RNA, performance changes are all included.

[2022-02-10 16:03] akachru-github commented on #879
- perf tests performed in RDPC QA. Passed.

- 3 version of song in prod
  - Song
  - Intermediate Song
  - Submission Song

[2022-02-10 16:05] akachru-github commented on #879
@Buwujiu , and @lindaxiang  to confirm testing completed. If clear, let's proceed to prod.

[2022-02-10 16:57] akachru-github commented on #870
This may be addressed already. Will confirm.

[2022-02-22 14:37] akachru-github commented on #879
Hi @Buwujiu and @lindaxiang , just wondering if we are clear to deploy the perf-enhanced Song to prod?

[2022-02-22 21:35] Buwujiu commented on #879
@akachru-github , song 4.8.1 is deployed to rdpc prod, Linda is running tests to confirm all is ok.

[2022-02-23 23:02] akachru-github opened #880 "Cross-site scripting audit"
Based on the work completed by @samrichca on updating the refresh token (which has led to a much larger discussion regarding Ego: https://wiki.oicr.on.ca/display/OV/Ego+-+2022+Outlook), we wanted to perform an audit of our production products and ensure we are not currently susceptible to cross-site scripting. This will include an audit for:
- ICGC ARGO platform
- DACO
- RDPC UI
- Virus-Seq
- DMS

[2022-02-24 14:54] akachru-github opened #881 "Evaluate whether an ES upgrade is necessary"
- Current version?
- Are we in support? Will we be out of support soon?
- Audit all environments. Output will be a table within this ticket.

[2022-02-24 16:25] akachru-github opened #882 "Cross-site scripting audit: ICGC ARGO platform"
- Investigate options for performing a pen-test.
- There will be a ramp up here as research will need to be done to identify the best way to determine if we are vulnerable.
  - Veracode an option? Can reach out to IT to see what they have done in the past for OICR.
- Wikis with tables and diagrams and stuff.

[2022-02-24 16:36] akachru-github commented on #849
New version: 4.0.

[2022-02-24 18:50] lindaxiang opened #883 "Program dashboard in PROD does not get updated when raw data was submitted and job is kicked off and completed"
For project `TEST-INTL` in Prod:
Raw WXS data submissions:
Normal: https://submission-song.rdpc.cancercollaboratory.org/studies/TEST-INTL/analysis/9e1a98a4-069c-4bc5-9a98-a4069c8bc55d
Tumour: https://submission-song.rdpc.cancercollaboratory.org/studies/TEST-INTL/analysis/5457ab5b-1b5a-4a5f-97ab-5b1b5a0a5fa3

Completed alignment WXS:
https://song.rdpc.cancercollaboratory.org/studies/TEST-INTL/analy

[2022-02-28 16:14] blabadi opened #884 "Invite User Flow: Login with Google redirection not working 🐛"
## Describe the bug

**Currently happening in qa environment, Staging is working fine.**
When users open the invitiation link from their email and try to Login with google, the redirection is not working
could be related to the recent ego version upgrade (v 5.1.0)
## Steps To Reproduce

Steps to reproduce the behaviour:

add  a user to a program
go to the email in mail hog
copy the link and open i

[2022-03-01 00:15] blabadi commented on #884
related fix to solve ego part of this issue: https://github.com/overture-stack/ego/pull/635

[2022-03-01 00:17] blabadi commented on #872
updated title to 5.3.0 since there is a fix needed : https://github.com/overture-stack/ego/pull/635

[2022-03-03 19:06] blabadi commented on #884
ego part fixed, a UI ticket created: https://github.com/icgc-argo/platform-ui/issues/2215
closing this ticket in favor of the UI ticket

[2022-03-03 19:06] #884 closed

[2022-03-04 16:09] #866 closed

[2022-03-08 14:23] kcullion commented on #854
Open access data made it to production successfully

[2022-03-09 16:48] kcullion commented on #875
@Buwujiu @lindaxiang is this still a bug, or did we say TEST-QA has a lot of garbage data?

[2022-03-09 17:28] Buwujiu opened #885 "API to provide the number of matched T/N raw reads DNA pairs for donor"
In order to support dashboard UI - DNA raw reads columns display correct error and tooltips, API must provide the number of matched T/N raw reads DNA pairs for donors.

T’s matchedNormalSubmitterSampleId = N’ sample id
AND
T’ experimental_strategy must = N’ experimental_strategy

Expected data example:

DO1: [a1 - T, a2 - N]  WXS
         [a1 - T, a3 - N]  WXS
         [a4 - T, a5 - N] WGX
the mat

[2022-03-09 17:47] lindaxiang commented on #875
@kcullion it looks correct now. :-)

[2022-03-09 18:11] kcullion commented on #875
Thanks @lindaxiang
Closing now as this is not a bug anymore

[2022-03-09 18:11] #875 closed

[2022-03-10 15:34] #867 closed

[2022-03-10 16:49] akachru-github commented on #753
Demo coming up in ~2 weeks. This will need to be deployed and configured.

[2022-03-10 16:57] akachru-github commented on #753
- RDPC prod cluster
- obj storage needs to be set up to hold shared data. cc. @henro001
- Helm chart configured to deploy pensato
- jenkins provision and deploy jobs set up to deploy pensato.

[2022-03-11 20:39] lindaxiang opened #886 "Remove or update sample/specimen/donor info from Clinical database"
As DCC admin, I need to be able to easily remove or update sample/specimen/donor info which were initially registered by sample_registration table.

The fields which can be updated will include:
- gender
- specimen_tissue_source
- specimen_type
- sample_type
- tumour_normal_designation

The reason of the above requests is that the data submitters may want to update or remove the data because of da

[2022-03-11 21:29] lindaxiang opened #887 "sample/specimen/donor info in SONG database should be sync with Clinical database"
Under current setting, only ID fields in SONG are guaranteed to be sync with Clinical database. Basically these info should have single source of truth which is Clinical database.

The additional fields which should be sync include:
- gender
- specimenTissueSource
- specimenType
- sampleType
- tumourNormalDesignation

NOTE: If ID fields such as program_id, submitter_donor_id, submitter_specimen_id

[2022-03-11 21:54] lindaxiang opened #888 "Request to change ID fields in sample registration table"
ID fields changes are NOT allowed. In this scenario, the submitter should:
1. request to remove the existing samples/specimen/donor data in Clinical database (Ref: https://github.com/icgc-argo/roadmap/issues/886)
2. re-submit the updated sample registration table

For SONG database,
- SONG will sync with the data in Clinical for sample/specimen/donor info (Ref: https://github.com/icgc-argo/roadmap

[2022-03-15 19:39] kcullion opened #889 "Donor Entity: hook up clinical data download"
**(Blocked by the clinical API)**
## Goal
The `All clinical data` button in the header needs to download all of the clinical files for the donor the user is on.

To discuss: @joneubank I recall you saying this doesn't need to be in the same format as what the data submitters would submit/download. To discuss with Hardeep and Melanie what format we think is best.

![image](https://user-images.githu

[2022-03-15 21:29] blabadi commented on #872
Confirmed no issues in RDPC by running workflow which covers using app credentials
also submission to song score

what's left to confirm is the invite user flow issue investigation  https://github.com/icgc-argo/platform-ui/issues/2215

[2022-03-22 17:21] kcullion opened #890 "EPIC: Program Submitted Data Section"

[2022-03-23 13:37] henro001 opened #891 "Cancogen cluster - add worker nodes"

[2022-03-28 13:16] lindaxiang opened #892 "Review the list of ARGO programs"
Currently, 4 out of 5 ICGC25k programs have renamed the project_id,
**ICGC**|**ARGO**
:-----:|:-----:
PACA-AU|APGI-AU
LUSC-KR|LUCA-KR
ESAD-UK|OCCAMS-GB
THCA-SA|PTC-SA

However these are unknown to the public and the acronyms are nowhere on the portal. It would be good to use consistent naming and for it to be described on the portal.

[2022-03-28 16:10] Buwujiu commented on #881
Audited these following environments:
ARGO qa/dev
1.  Current version: 7.6
2. Already out of support, see https://www.elastic.co/support/eol, 7.6 is supported until 2021-08-11

RDPC dev/qa/prod
1. Current Version: 7.6
2. Already out of support, see https://www.elastic.co/support/eol, 7.6 is supported until 2021-08-11

Overture qa/staging
1. Current version: 7.6
2. Already out of support, see https

[2022-03-29 22:19] lindaxiang opened #893 "DUO terms on datasets"
Here are some background information from Melanie:

Looking at: https://beacon-api.ega-archive.org/datasets/EGAD00001007785,
the dataset has DUO codes attached. DUO = GA4GH Data Use Ontology, the paper is at
https://www.cell.com/cell-genomics/fulltext/S2666-979X(21)00035-5

Briefly, it is about data owners assigning DUO terms to their datasets to represent the consent on them, and which uses are a

[2022-04-04 20:41] #891 closed

[2022-04-06 15:11] akachru-github opened #894 "Import APGI-AU ICGC25K RNA-Seq data to intermediate-song"
@hknahal commented on [Mon Apr 04 2022](https://github.com/icgc-argo/argo-meta/issues/42)

The following SONG payloads are ready to be imported to intermediate-song:
https://github.com/icgc-argo/argo-meta/tree/master/icgc_song_payloads/APGI-AU/RNA-Seq/batch1
- The ARGO project code is `APGI-AU` (was called `PACA-AU` in ICGC25K)

https://wiki.oicr.on.ca/display/icgcargotech/Initializing+the+ICGC+da

[2022-04-07 14:33] akachru-github commented on #881
Let's identify:
- latest supported version
- potential breaking changes for the upgrade

[2022-04-07 15:38] akachru-github commented on #753
@joneubank  to speak to @henro001  on any blockers on getting this to production.

[2022-04-07 15:41] akachru-github commented on #753
1. need a list of users to give permissions to. Lincoln may have this list.
2. write down instructions for how to access and use. @joneubank  can write steps, and perhaps Lincoln can do the comms out to the working groups.

[2022-04-07 17:59] blabadi opened #897 "upgrade ego to 5.4.0"
to patch the latest spring issue

[2022-04-07 18:00] blabadi opened #898 "upgrade maestro to 4.2.0"
to patch latest spring4shell issue

[2022-04-07 20:19] Buwujiu commented on #881
1. The latest supported versions are: ![Screen Shot 2022-04-07 at 4.16.09 PM.png](https://images.zenhubusercontent.com/5c9a3377f234b2000189633c/e882f932-cf62-4d60-a1e0-d0b9eee8d48b)
2. In order to upgrade to 8.1.2 which is the latest version, we must first upgrade to 7.17 as suggested by ES: https://www.elastic.co/guide/en/elastic-stack/8.1/upgrading-elastic-stack.html#prepare-to-upgrade.
3. Break

[2022-04-08 16:13] Buwujiu commented on #881
Organized output to this wiki: https://wiki.oicr.on.ca/display/icgcargotech/ES+Upgrade

[2022-04-08 18:22] lindaxiang opened #899 "Update sample/specimen/donor info in Clinical database"
As DCC admin, I need to be able to easily update sample/specimen/donor info which were initially registered by sample_registration table.

The fields which can be updated will include:
- gender
- specimen_tissue_source
- specimen_type
- sample_type
- tumour_normal_designation

The reason of the above requests is that the data submitters may want to update the data because of data issue after they

[2022-04-08 18:37] lindaxiang opened #900 "Remove sample/specimen/donor info from Song database"
Whenever there are sample/specimen/donor being removed from Clinical database:
- the same sample/specimen/donor records in Song database need to be removed.
- related analysis need to be suppressed in Song

[2022-04-19 19:46] b-f-chan commented on #882
Doing pen-test now may be counterproductive given major changes coming to EGO

However, if just research to prepare ourselves, this would be useful

[2022-04-20 20:12] kcullion commented on #475
@joneubank fixed the contact form!

And the case reported by Christina is an edge case, if someone uses their full OICR email address that is part of the JIRA user group - they can't create a ticket, it is a known bug with jira https://jira.atlassian.com/browse/JSDCLOUD-6061

They will have to use another email address. If we have someone at OICR contact us with this issue, we can then look into a

[2022-04-20 20:12] #475 closed

[2022-04-21 14:28] #881 closed

[2022-04-21 15:37] b-f-chan commented on #882
Sam did research this, to update Wiki with notes on her progress/findings, then close

[2022-04-21 16:18] b-f-chan commented on #886
Currently no UI process to do this nor should there be (should encourage them to provide correct data)

But need SOP on how to rectify mistakes

[2022-04-21 18:48] samrichca commented on #870
Closing. Some work on this epic is on the branch `feat/jwt-refresh`.

[2022-04-21 18:48] #870 closed

[2022-04-21 19:29] samrichca commented on #882
Added a page to the wiki about XSS/CSRF, closing.

[2022-04-21 19:29] #882 closed

[2022-04-22 13:08] b-f-chan commented on #888
@joneubank to investigate with priority for Apr 21 - May 5 sprint

Related to ARGO roadmap #886

[2022-04-22 16:41] jmimico commented on #693
I am not familiar with dcc-iobio but I have access to prod system and here's what's running:

[code]

[2022-04-22 16:43] jmimico commented on #693
Security group for this server is only allowing the following traffic:

iobio

[code]

[2022-04-22 16:53] jmimico commented on #693
@yalturmes can you check to see if ghcr should be building two versions of iobio? On dockerhub we leverage two tags `latest-vcf` and `latest-bam`. Github repo mentions both tags here too: https://github.com/icgc-dcc/dcc-iobio . Reason I ask is on github package I only see `:latest`

[2022-04-25 15:00] lindaxiang opened #901 "🐛 Incorrect ARGO IDs between Clinical and `submission-song` and `song` in QA?"
## Describe the bug
The DO*** in the program dashboard are not consistent with what are stored in Song analysis.

## Steps To Reproduce
Steps to reproduce the behaviour:
1. Go to 'https://platform-ui.qa.argo.cancercollaboratory.org/submission/program/TEST-PR/dashboard', in column `Donor ID`, you can see:
DO250183's submitterDonorId is showing HCC1143
DO250122's submitterDonorId is showing COLO-829

[2022-04-25 19:34] b-f-chan commented on #753
Update after discussions between @joneubank and @blabadi

For Pensato to work with the current code, it requires Ego APIs to be available to it that, and those APIs should be secured and unavailable.

So two action items arise from this:

1.  Find out why the APIs became exposed in the newer Ego version
2. Update Pensato code to not require them

This may need a small code change, moving this back

[2022-04-27 20:27] hknahal commented on #834
@kcullion You can preview the changes here: https://6269a67aaab443000a3493e7--icgc-dcc-docs.netlify.app/ The code changes are in this PR: https://github.com/icgc-dcc/dcc-docs/pull/77.

[2022-04-28 15:04] jmimico commented on #693
root@iobio-collab:~# docker ps --all
CONTAINER ID        IMAGE                                   COMMAND                  CREATED             STATUS              PORTS                  NAMES
46d3214b9829        ghcr.io/icgc-dcc/dcc-iobio:latest-vcf   "/bin/sh -c /entrypo…"   13 minutes ago      Up 13 minutes       0.0.0.0:8080->80/tcp   vcf
123ce44b72a4        ghcr.io/icgc-dcc/dcc-iobio:latest-bam

[2022-04-28 15:04] jmimico commented on #693
Created a small script in root directory to cycle the containers if needed too

[2022-04-29 16:11] blabadi commented on #753
update on point 1, it seems that EGO is working as intended in version 5, that's based on this code
https://github.com/overture-stack/ego/blob/9fec7c107899ebbf09f77ec02a8c60da574805a8/src/main/java/bio/overture/ego/security/JWTAuthorizationFilter.java#L77-L78
it was intended for applications to use basic authentication, so the fact that ego 4.x wasn't working seems like a bug to me
when applicatio

[2022-04-29 19:25] kcullion commented on #834
@hknahal @blabadi this PR looks great and I think it's good to go for May 16!

[2022-04-29 20:17] #234 closed

[2022-04-29 20:17] #467 closed

[2022-05-03 18:34] lindaxiang opened #902 "Create study in submission-song and song of Prod when creating a program on platform"

[2022-05-05 14:28] #869 closed

[2022-05-06 02:31] b-f-chan commented on #834
Waiting to release with DACO May 16

[2022-05-06 02:33] b-f-chan commented on #753
This is priority 1 for @joneubank this sprint; to check if can offload this task to anyone else in future

[2022-05-06 02:38] b-f-chan commented on #888
SOP is priority #2 for @joneubank this sprint

[2022-05-06 02:40] b-f-chan commented on #894
Priority 3 for @joneubank this sprint; to check if can offload this task to anyone else in future

[2022-05-06 02:43] b-f-chan commented on #886
SOP is priority 2 for @joneubank this sprint; to check if can offload this task to anyone else in future

[2022-05-13 12:55] yalturmes commented on #404
Jenkins core, plugins and helm chart are updated on monthly basis. This covers all jenkins kubernetes instances. The ticket no longer relevant.

[2022-05-13 12:55] #404 closed

[2022-05-16 17:29] kcullion commented on #834
@hknahal released on May 16 and all looks great, thanks Hardeep!!

[2022-05-16 17:29] #834 closed

[2022-05-16 17:31] kcullion commented on #764
DACO MVP launch was a success on May 16! closing this epic
@blabadi

[2022-05-16 17:31] #764 closed

[2022-05-17 13:55] b-f-chan commented on #888
Update from @lindaxiang - POG-CA is again pushing for these changes; due to @joneubank switching priorities to ICGC25K EOL, may need to ask @blabadi to look into this if he has cycles - To discuss & decide at planning

[2022-05-17 18:07] b-f-chan commented on #894
Push another sprint, no immediate need

[2022-05-18 13:52] b-f-chan commented on #886
Re-assigned to @blabadi while @joneubank focuses on ICGC25K upgrade plan

@blabadi - This is 1 of 2 tickets that go together for the clinical changes + SOP writing, the other is #888

[2022-05-18 13:52] b-f-chan commented on #888
Re-assigned to @blabadi while @joneubank focuses on ICGC25K upgrade plan

@blabadi - This is 1 of 2 tickets that go together for the clinical changes + SOP writing, the other is #886

[2022-05-19 12:04] b-f-chan commented on #753
Deployed to prod, presented demo to working group members, closing

[2022-05-19 12:04] #753 closed

[2022-05-19 14:59] b-f-chan commented on #849
@Buwujiu - Please list breaking change for @blabadi to do upgrade

[2022-05-19 15:04] b-f-chan commented on #883
@lindaxiang - Re-test/re-run, if still happening, @Buwujiu can take a look after RNA-Seq work (before security alert stuff)

[2022-05-19 15:37] b-f-chan commented on #856
~220 donors still invalid --> If they get clinical exception for this field no issue, but right now cannot sign off on their submission

[2022-05-19 15:39] b-f-chan commented on #856
@hknahal - Review ticket for validity since it has been around for a while, then provide recommendation - E.g. Are donors missing other core clinical fields also

[2022-05-19 16:15] hknahal commented on #856
@b-f-chan Confirmed the 220 donors do not have any other clinical data (ie. no specimen, treatment, followup etc. data). They only submitted the `Donor` schema for these 220 donors and are missing the `vital_status` field. We should remove these 220 donors to unblock them so they can sign off on the rest of their clinical submission (they submitted 5 donors with other valid clinical data).

[2022-05-31 13:32] b-f-chan commented on #856
Possibly similar to the SOPs @blabadi has been working on with some variation - Need to check

Ideally get done before workshop on June 13

[2022-06-02 11:40] #871 closed

[2022-06-02 11:40] #846 closed

[2022-06-02 11:40] #872 closed

[2022-06-02 13:08] b-f-chan opened #903 "Updates for New Embargo Rules"
Updates to the platform needed to support the new embargo rules

[2022-06-02 14:55] b-f-chan commented on #890
Look at pulling clinical data currently submitted and using it to create a test program for this epic/feature (@kcullion, @hknahal)

[2022-06-02 14:57] b-f-chan opened #904 "Create Standardized Test Program for DEV & QA"
Create a standardized test program with happy day scenario data for that is consistent for both Dev & QA environments, that Devs, BAs, and Bioinfo can all make use of.

**Criteria:**

- [ ] The program (DATA-CA) should have data for all dictionary entities to the extent possible
- [ ] The data should be consistent between Dev and QA
- [ ] There should be a large enough amount of data to test UI fe

[2022-06-02 16:02] b-f-chan commented on #859
From @joneubank -> Should be driven by DevOps -> @b-f-chan to take up with DevOps

[2022-06-02 19:46] demariadaniel opened #905 "[API] Submitted Data Table"

[2022-06-02 20:13] demariadaniel opened #906 "[API] Submitted Data Table"

[2022-06-03 03:24] b-f-chan commented on #894
@joneubank to consider others who can support this type of task in future as he goes through the process

[2022-06-07 14:31] blabadi commented on #843
ego 5.4.0 released in prod

[2022-06-07 14:31] #843 closed

[2022-06-08 14:45] joneubank commented on #894
Report for uploaded data: https://github.com/icgc-argo/argo-meta/commit/af4eb547c0e8d347b40487882472e141ea150cfd

[2022-06-08 15:00] joneubank commented on #894
@b-f-chan
For a user to perform this task in the future they need:
* Kubernetes access to Argo RDPC (all clusters including prod)
* ssh access to the legacy song server in cancercollab
* legacy ego api key with `collab.WRITE` permission (can be setup in ego)

None of the steps are particularly technical, it's about trust in manipulating production data and confidence in following all steps and tro

[2022-06-08 19:40] kcullion commented on #906
moving this to awaiting release, feedback will be here for the next sprint: https://github.com/icgc-argo/platform-ui/issues/2327

[2022-06-13 15:20] b-f-chan commented on #883
Assigning to @Buwujiu since she is investigating related ticket:
https://github.com/icgc-argo/argo-clinical/issues/775

[2022-06-13 15:45] b-f-chan commented on #859
@b-f-chan to discuss with DevOps as @joneubank suggested, moving out of sprint, assigning to myself for now

[2022-06-13 15:47] b-f-chan commented on #856
@hknahal - Any update on whether MUTO-INTL has DACO access resolved yet?  I won't ask the team to proceed with this until they are unblocked, moving to next sprint

[2022-06-13 15:52] hknahal commented on #856
@b-f-chan I haven't heard back from the MUTO-INTL program, but I followed up with them again today, so hoping we can find out the status of their DACO access soon.

[2022-06-14 15:14] Buwujiu commented on #904
Test program `DATA-CA` is created in dev, next step is to create the test clinical submission files for DATA-CA on Dev.

[2022-06-14 19:58] Buwujiu commented on #894
Confirmed with @lindaxiang that this ticket is done.

[2022-06-15 15:15] b-f-chan commented on #894
Thanks @Buwujiu - @lindaxiang will still need to run some jobs in QA RDPC once Collab is back up, as a final sanity check

[2022-06-16 14:39] b-f-chan commented on #894
Closing, @lindaxiang or @Buwujiu to create separate ticket to finish the sanity testing

[2022-06-16 14:39] #894 closed

[2022-06-16 15:19] b-f-chan commented on #904
Scope of this ticket is JUST clinical

@Buwujiu create separate ticket for standardized testing data for molecular data (USE SAME TEST PROGRAM YO!)

[2022-06-16 17:57] kcullion commented on #905
Closing this as it's a duplicate of https://app.zenhub.com/workspaces/icgc-argo-platform-dk-production-board-5e542d38415f5034e9fed89d/issues/icgc-argo/platform-api/564

[2022-06-16 18:55] Buwujiu opened #908 "Sanity Test for APGI-AU ICGC25K RNA-Seq"
Sanity test for APGI-AU ICGC25K RNA-Seq to intermediate song,
Original import ticket is https://github.com/icgc-argo/roadmap/issues/894

[2022-06-22 15:29] b-f-chan commented on #904
@edsu7 to assist with some of the sample data generation - Thanks Edmund!  @hknahal to give template + guidance

[2022-06-23 14:14] kcullion commented on #883
related to the raw data submisison..I tested registering a donor in QA for KIMC-CA and then submitting some clinical files for that donor. The dashboard updated after about 30 seconds, as expected without me needing to press the sync button or refresh. Thanks @Buwujiu !
@lindaxiang and team can test the molecular submission :)

[2022-06-23 18:15] b-f-chan opened #909 "[New Feature] Make Data Dictionary Downloadable in PDF Format"
Bioinfo has received requests from submitters to make the Data Dictionary available via download

It will likely be too unwieldy to export as an Excel table/file, but we can offer a PDF format download.

[2022-06-28 13:30] edsu7 commented on #904
Google drive with mock data:
https://drive.google.com/drive/folders/1oghz5COEF_7vARDJN-mtHkKk6hZPbDL4?usp=sharing

[2022-06-28 20:19] kcullion commented on #904
@edsu7 @hknahal can I use these files to upload to the DATA-CA program on QA, once Dan has released his Submitted Data updates to QA? So I can create that program, like Hardeep did in dev.

[2022-06-28 20:32] hknahal commented on #904
@kcullion We're still testing these files but we'll let you know as soon as they're ready to use.

[2022-06-30 15:27] Buwujiu commented on #856
Need further confirmation from MUTO-INTL.

[2022-07-05 13:24] b-f-chan commented on #904
@edsu7 has sent his part of the data over, @hknahal to give feedback, @edsu7 will make any required fixes

[2022-07-11 21:38] caravinci opened #910 "🐛 Client connection timeout stops indexing"
## Describe the bug
As noticed in VirusSeq, when a request is made for Maestro to index a study (e.g., from its swagger, or using postman), if the connection times out, Maestro stops indexing without notification.
In our case, as a workaround, we modified Nginx's ingress annotation for read timeout; which is not ideal and got the job done, but doesn't solve the underlying issue.

## Expected behav

[2022-07-11 22:03] justincorrigible commented on #910
Issue opened in the wrong repo/space. Closing in favour of https://github.com/overture-stack/maestro/issues/250

[2022-07-11 22:03] #910 closed

[2022-07-14 19:30] Buwujiu opened #911 "Deploy and test all SONG v5.0.1 instances to RDPC dev/qa"
SONG has a major release v5.0.0: https://github.com/overture-stack/SONG/pull/769, as part of dictionary release 1.15, we need to deploy the new version to RDPC dev and qa for testing purposes.
Note: the latest version is now **v 5.0.1,** which includes a bug fix.

Environment to Deploy:
- [ ] RDPC DEV
   - [ ] SONG
   - [ ] intermediate SONG
   - [ ] submission SONG
- [ ] RDPC QA
   - [ ] SONG

[2022-07-19 13:26] b-f-chan commented on #911
@edsu7 - Testing scope from @Buwujiu above

[2022-07-19 20:06] b-f-chan commented on #911
@edsu7 - @Buwujiu confirms we only need to. test the 3 song instances in QA

[2022-07-20 12:48] lindaxiang commented on #908
@Buwujiu The sanity checks have completed and test run in RDPC-QA completed successfully:
wes-d58a83f3d71d402eb52130b19ea9c8b0, that confirms that data migration for APGI-AU is all good.

[2022-07-20 15:05] b-f-chan commented on #904
All test data from @hknahal and @edsu7 are appended/combined --> ~200 donors

@hknahal will upload Program = DATA-CA

Environments to upload to:

- [ ] DEV
- [ ] QA

[2022-07-20 15:11] b-f-chan commented on #904
@b-f-chan to find separate ticket to create test molecular data for these donors (@lindaxiang has created this previously).  Out of scope from this ticket, but related.  Can take that task up separately, but we will only do for a few donors (10? 20?), because creating molecular data for all 200 will be quite onerous.  Have either BAMs or FASTQs, this is just submission data (mimic user data).  Ide

[2022-07-20 15:45] b-f-chan commented on #908
This is just sanity test, we still need to run this workflow for real in production

[2022-07-20 15:49] b-f-chan commented on #908
Closing, waiting for real production run #271

[2022-07-20 15:49] #908 closed

[2022-07-20 16:05] b-f-chan commented on #911
@edsu7 tested on QA SONG, Intermediate SONG, Submission SONG - But waiting for analysis to finish publishing (big data set) to complete testing of publish/unpublish/suppression

[2022-07-28 14:35] #911 closed

[2022-07-28 14:35] b-f-chan commented on #911
Deploy and testing done, closing

[2022-07-28 14:38] b-f-chan commented on #883
@edsu7 actually tested this with a workflow run and data is showing up correctly --> Moving to Release

[2022-07-28 15:10] b-f-chan commented on #904
Data is ready!  @hknahal to copy files over to TEST program, then it will be ready to use!  Will add some comments then close off

@hknahal to talk to @demariadaniel to add data that creates errors --> Create separate ticket for this

[2022-08-17 21:24] #883 closed

[2022-08-24 22:04] hknahal commented on #904
Test clinical data for 370 donors available in `DATA-CA` in both QA and DEV for all clinical files:
QA: https://platform-ui.qa.argo.cancercollaboratory.org/submission/program/DATA-CA/dashboard
DEV: https://platform-ui.dev.argo.cancercollaboratory.org/submission/program/DATA-CA/dashboard

[2022-08-25 14:32] Buwujiu commented on #860
Was done under file service PR 135

[2022-08-25 14:50] #904 closed

[2022-08-25 15:08] Buwujiu opened #913 "Technical Design Clinical Exceptions"
Let's have a round 1 design of CE.
High Level Requirement: https://wiki.oicr.on.ca/display/icgcargotech/Core+Clinical+Data+Exceptions#CoreClinicalDataExceptions-UserStories

Expected outcome:
- Wiki page detailing the technical solutions for program level exceptions.
- Tickets for implementing exceptions for tumour_grade and tumour_grading_system.

[2022-08-25 15:14] Buwujiu opened #914 "Upgrade Elasticsearch to New Hardware for ICGC25K"
Current ES was built on actual physical services in Mars building, security risks are present and need to be addressed.

Goal is to rebuild ES cluster in a new environment like Openstack.

2 stages:
-> test cluster
-> get portals to connect to the new cluster.

@joneubank @b-f-chan Break it down into small tickets.

*** **Sub-Tasks for this Ticket** ***

As discussed and agreed with @joneubank, we

[2022-08-29 16:44] #551 closed

[2022-08-31 15:11] b-f-chan commented on #856
Last CMD-Working Group Meeting we agreed on Program Level Exceptions to start; also needed to share with them some proposed dictionary changes.

In meantime getting feedback from MOH group and it came up how to handle Lost to Follow-Up.  Relates to this ticket due to the Vital Status.  They know what their last Vital Status was, but have lost them to follow-up.  Related to ticket https://github.co

[2022-09-08 13:23] Buwujiu commented on #913
Technical design is completed, these tickets are made in argo-clinical: 813, 812, 811, 810, 809, ready to start development. closing this issue.

[2022-09-08 14:48] #913 closed

[2022-09-21 13:47] #860 closed

[2022-10-13 13:18] lindaxiang opened #915 "[Requirements] - Song auto-sync the info under `samples` with the sample registration table in Clinical database"
**Background**
- Considering the samples are shared info between Clinical and Song database, while our current system does not enforce any sanity checks and auto-sync across the fields (other than IDs?)
- Any changes in Clinical/samples are not aware to Song, and any changes in Song/samples are not aware to Clinical
- Any mistakes in Song/samples can be easily propagated when submitted data got fu

[2022-10-13 18:13] sifavahora opened #916 "Add an "allow-replace" parameter to the submit (Program Level) Exception endpoint"
## Detailed Description
Add an optional boolean parameter `allow replace` to submit endpoint for replacing existing program level exceptions.
Add the following description to parameter :`this will replace any existing exceptions for the program`

## Expected System behavior
if true - replace existing exceptions
if false - add exceptions if doesn't exist, give an error if the exception exists for a

[2022-10-19 15:17] puneet-oicr commented on #915
Melanie - This seems relevant for ARGO and should be done for other projects as well once POC is done.
BioInfo - VirusSeq will not have the same issue, since it uses SONG only.

[2022-10-25 17:58] ghost opened #917 "Investigate - Long term solution for (analysis)data mismatch between Clinical and Song"
Meeting Notes for reference: https://docs.google.com/document/d/1xVyzsuMVHjQbhZeWMqoPlhErPaEwu0K36VOjDE1ltNk/edit

[2022-10-26 13:20] lindaxiang opened #918 "Evaluate - Impacts of removing `matchedNormalSubmitterId` from analysis/sample"
Since `matchedNormalSubmitterId` is data analysis level information instead of sample level information, we need to evaluate the possible impacts for the front/back end system if we decide to remove it from sample section of song schema.

[2022-10-26 15:29] b-f-chan commented on #915
Requirements have been supplied, closing!

[2022-10-26 15:29] #915 closed

[2022-10-26 15:43] b-f-chan commented on #918
Outcome should be an analysis doc (Google/wiki) etc

[2022-10-31 16:22] #880 closed

[2022-11-01 18:21] Buwujiu opened #919 "Design and Coding - Refactor indexing services to prepare new donor/file centric indices"
## Why we need this
As an important part of epic: https://github.com/icgc-argo/roadmap/issues/707, we need to index clinical data and produce 2 new indices: donor centric(not the same as existing donor submission indices that are generated by donor sub aggregator), and file centric - not the same as existing file centric produced by maestro.

Before this can happen, we need to refactor file servic

[2022-11-07 15:16] Buwujiu opened #920 "Mockup for Dashboard DNA Table Cell Errors"
## Goal
To create mockups for replacing `registered samples` and `raw reads` column tooltips. ![Screen Shot 2022-11-07 at 10.09.27 AM.png](https://images.zenhubusercontent.com/5c9a3377f234b2000189633c/c0b45916-356a-4482-ab0d-6179b7a709a4)

As discussed with Patrick, possible solution is to
- For the registered samples column: use red background on cells that have missing samples
- For the raw read

[2022-11-07 15:23] Buwujiu opened #921 "Mockup for Admin Approval on Register Samples Page"
## Goal
Create mockups for this feature: https://github.com/icgc-argo/platform-ui/issues/2434
- 1 mockup for update modal
- 1 mockup for updated samples summary page
- Bonus task! Patrick suggested changing the design on sample register page where the upload button may need relocation, as it's not always the first step : ![Screen Shot 2022-11-07 at 10.20.15 AM.png](https://images.zenhubusercontent

[2022-11-11 17:53] #529 closed

[2022-11-11 19:46] patrickdsantos commented on #921
Hello! Here are the links to the updated pages:

- https://zpl.io/awOeOLg
- https://zpl.io/7wLe4Yj
- https://zpl.io/5EMxqYJ
- https://zpl.io/2ZXEgAL

@Buwujiu let me know what you think :)

[2022-11-11 19:51] patrickdsantos commented on #920
Hello! Here's the link to the updated mock with new legend items:

https://zpl.io/Am0nqX8

@Buwujiu let me know what you think! :)

[2022-11-11 22:03] #903 closed

[2022-11-11 22:15] Buwujiu commented on #921
Thanks @patrickdsantos ! can you make 1 small change to https://zpl.io/7wLe4Yj ?
The content of the modal now is
[code]
Can you please remove `following`, so it becomes:
[code]

[2022-11-14 15:35] patrickdsantos commented on #921
Hey @Buwujiu !

Just made the copy change, check it out:
https://zpl.io/7wLe4Yj

Let me know if there's any other updates!

[2022-11-15 21:28] patrickdsantos commented on #920
Updated mocks!

https://zpl.io/Am0nqX8

[2022-11-16 16:44] b-f-chan commented on #918
@Buwujiu @sifavahora - Re-assigning to BA for impact analysis across ALL projects not just ARGO

@lindaxiang can help give details

[2022-11-17 15:43] #921 closed

[2022-11-17 15:43] #920 closed

[2022-11-18 20:01] Buwujiu opened #922 "Prod Issue - Downloaded File Won't unzip"
## Description
Downloaded file from prod, for example https://platform.icgc-argo.org/file/FL37616, cannot be opened. Tried to open with the mac default Archive Utility got error:![Screen Shot 2022-11-18 at 12.27.17 PM.png](https://images.zenhubusercontent.com/5c9a3377f234b2000189633c/6e0c2a0e-d332-4237-8c95-bec71c75dc5a)

## Investigation
- File can be opened with the 3rd party unarchiver  Keka ht

[2022-11-21 17:09] Buwujiu commented on #922
Not an issue with Platform site, it's rather a mac unzipping issue. Closing.

[2022-11-21 17:09] #922 closed

[2022-11-24 21:12] Buwujiu opened #923 "Deploy kafka UI in argo staging and prod"
Would be extremely helpful in troubleshooting donor dashboard indexing issues!